/*********************************************************************************/
/* Edits                                                                         */
/*********************************************************************************/
.papers ul
{
    list-style: disc;
    padding-left: 1em;
}

.papers ol
{
    list-style: decimal;
    padding-left: 1.25em;
}

.papers li
{
    padding-left: 0.25em;
}

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    .blink
    {
        position: relative;
        display: inline-block;
        border-radius: 0.35em;
        color: #fff !important;
        text-decoration: none;
        padding: 0em 0.4em 0em 0.4em;
        //background-color: rgba(10,167,147,0.5);
        background-color:#505050;
        border: 0;
        cursor: pointer;
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
        background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
        background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url('images/overlay.png');
        -moz-transition: background-color 0.35s ease-in-out;
        -webkit-transition: background-color 0.35s ease-in-out;
        -o-transition: background-color 0.35s ease-in-out;
        -ms-transition: background-color 0.35s ease-in-out;
        transition: background-color 0.35s ease-in-out;
    }

        input[type="button"]:hover,
        input[type="submit"]:hover,
        input[type="reset"]:hover,
        .blink:hover
        {
            //background-color: #B1746F;
            background-color: rgba(10,167,147,0.4);
            //background-color: #9ececc;
            background-color: #696980;
        }

        input[type="blink"]:active,
        input[type="submit"]:active,
        input[type="reset"]:active,
        .blink:active
        {
            //background-color: rgba(10,167,147,0.5);
            //background-color: #7eaeac;
            //background-color: #800000;
            background-color: #000000;
        }


